body {
  color: white;
  background-color: black;
}
.h {
  grid-area: h;
  background-color: aquamarine;
  height: 3rem;
}
.md {
  grid-area: m;
  background-color: blue;
  height: 18rem;
}
.f {
  grid-area: f;
  background-color: red;
  height: 3rem;
}
.t-r {
  grid-area: t-r;
  background-color: darkcyan;
}
.b-r {
  grid-area: b-r;
  background-color: blueviolet;
}
.t-l {
  grid-area: t-l;
  background-color: yellow;
}
.b-l {
  grid-area: b-l;
  background-color: thistle;
}
.c {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#moveme {
  width: 80%;
  margin: auto;
  background-color: black;
  color: beige;
  border: 10px double red;
}
.container {
  color: black;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 7;
  grid-template-areas:
    "h h h h h"
    "t-l m m m t-r"
    "t-l m m m t-r"
    "b-l m m m b-r"
    "b-l m m m b-r"
    "f f f f f"
    "c c c c c";
}
